.wrap-detail #contents {
    padding-bottom: 160px;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
    .wrap-detail #contents {
        padding-bottom: 220px;
    }
}

/* 영화 내용 */
.detail-box {
    display: flex;
    gap: 60px;
    width: 100%;
}
.detail-box-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#genre-box {
    display: flex;
    flex-direction: row;
    padding: 10px auto 10px auto;
}

#genre {
    padding-right: 10px;
}

#sub-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

#sub-btn img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#movie-name {
    height: 50px;
}

#summary {
    font-size: 18px !important;
}

#bmk-off {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    color: var(--sky-hover-color);
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#bmk-on {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--sky-hover-color);
    color: white;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

#movie-img {
    height: 400px;
    width: 300px;
    border-radius: 20px;
}
