/* 리뷰 */
/* 리뷰 작성 */
.review-input-wrap,
.review-textarea-wrap {
    gap: var(--spacing-sm);
}
.review-input-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.review-input {
    width: 100%;
}
.review-textarea-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacing-sm);
}
.review-textarea {
    width: calc(100% - var(--spacing-sm) - 80px);
    min-height: 6.5em;
}
.review-edit-btns {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 80px;
}
.review-cancel,
.review-submit,
.review-edit-submit {
    width: 80px;
    font-size: 16px;
    flex: 1 0 auto;
}
.review-cancel {
    color: var(--dark-gray-color);
    background-color: var(--light-gray-color);
}
.review-submit,
.review-edit-submit {
    color: #fff;
    background-color: var(--sky-color);
}
.review-submit:hover,
.review-edit-submit:hover {
    background-color: var(--sky-hover-color);
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
    .review-input-wrap {
        width: 50%;
    }
}
@media (min-width: 1200px) {
}

/* 리뷰 리스트 */
.review-item {
    padding: var(--spacing) var(--spacing-sm);
    border-bottom: 1px solid var(--dark-gray-color);
}
.review-item:first-child {
    border-top: 2px solid var(--light-gray2-color);
    margin-top: 50px;
}
.review-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
}
.review-info,
.review-btns {
    display: flex;
    align-items: center;
}
.review-info {
    width: 100%;
    gap: var(--spacing-sm);
}
.review-writer {
    max-width: calc(100% - 78px);
    font-size: 16px;
    font-weight: 700;
    color: var(--purple-color);
}
.review-date {
    font-size: 12px;
    color: var(--light-gray2-color);
}
.review-btns {
    gap: var(--spacing-sm);
}
.review-btns .material-symbols-rounded {
    font-size: 14px;
}
.review-edit,
.review-del {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    color: #fff;
    border-radius: 50%;
}
.review-edit {
    background-color: var(--light-green-color);
}
.review-edit:hover {
    background-color: var(--light-green-hover-color);
}
.review-del {
    background-color: var(--red-color);
}
.review-del:hover {
    background-color: var(--red-hover-color);
}
.review-txt {
    font-size: 16px;
    line-height: 1.5;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
