.search-results-tit {
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 60px;
}
#search-results-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-lg);
}
.no-results {
    font-size: 20px;
    text-align: center;
    color: var(--light-gray2-color);
    padding: 40px 0;
}
